<div class="card" style="min-height:400px;">
    <div class="card-body">
        <p style="font-size:1.25rem" class="text-center">
            <strong class="text-center">Lo sentimos, no cuenta con permisos para acceder a las funciones de este módulo.</strong>
            <br /><br /> &#128532;
        </p>
    </div>
</div>