<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--	DESARROLLO	-->
		<add
			name="cnnClinica"
			connectionString="data source=192.168.42.153\INST01; initial catalog=clinica; user id=ADMCSF; password=4dm3sf;"
			providerName="System.Data.SqlClient" />

		<!--	PRODUCCIÓN	-->
		<!--<add
			name="cnnClinica"
			connectionString="SGo/DKgMOv6EnEpyENUOHM8gg7gtgIm+346nzeXTFpvdGUvIAIu1utYY49VIDwnrvEQazyzSWpvpRHqH6vcYtLQXGwN05xCC+BCl5Ss6w2tW4qTs06vVMopoh3hx+4Tg"
			providerName="System.Data.SqlClient" />-->
	</connectionStrings>
</configuration>